@model fontend.Models.Product
@{
    ViewData["Title"] = "product";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="content_chitiet">
    <div class="container">
        <div class="directional">
            <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="text-dark" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="text-dark" asp-controller="Product" asp-action="products">Sản Phẩm</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Chi tiết sản phẩm
                    </li>
                </ol>
            </nav>
        </div>

        <div class="detail col-12 d-flex">
            <div class="img-detail col-6 d-flex">
                <div class="col-2 me-5 text-center">
                    <div class="carousel">
                        <button class="carousel mb-1 carousel border border-0 rounded-circle"
                                type="button"
                                data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <img class="rotateImg"
                                 src="~/home/Pictures/trang-chu/backButton.png" />
                            <span class="visually-hidden">Previous</span>
                        </button>
                        @if (ViewBag.ArrListStr != null)
                        {
                            int i = 0;
                            foreach (var item in ViewBag.ArrListStr)
                            {
                                <button type="button"
                                        data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="@i"
                                        class="active border border-0"
                                        aria-current="true"
                                        aria-label="Slide @(i+1)">
                                    <img src="@ViewBag.Domain@item"
                                         class="d-block w-100"
                                         alt="..." />
                                </button>
                                i++;
                            }
                        }
                        else
                        {
                            <button type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="0"
                                    aria-label="Slide 1"
                                    class="border border-0">
                                <img src="~/home/Pictures/chitietsanpham/img-1.jpg"
                                     class="d-block w-100"
                                     alt="..." />
                            </button>
                            <button type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 2"
                                    class="border border-0">
                                <img src="~/home/Pictures/chitietsanpham/img-2.jpg"
                                     class="d-block w-100"
                                     alt="..." />
                            </button>
                            <button type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 3"
                                    class="border border-0">
                                <img src="~/home/Pictures/chitietsanpham/img-3.jpg"
                                     class="d-block w-100"
                                     alt="..." />
                            </button>
                        }

                        <button class="carousel border border-0 rounded-circle"
                                type="button"
                                data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <img class="rotateImg"
                                 src="~/home/Pictures/trang-chu/nextButton.png" />
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide col-9">
                    <div class="carousel-inner">

                        @if (ViewBag.ArrListStr != null)
                        {
                            int count = 0;
                            @foreach (var item in ViewBag.ArrListStr)
                            {
                                <div class="carousel-item @(count == 0 ? "active" : "") w-70">
                                    <img src="@ViewBag.Domain@item" class="d-block w-100 img-fluid" alt="...">
                                </div>
                                count++;
                            }
                        }
                        else
                        {
                            <div class="carousel-item active w-70">
                                <img src="~/home/Pictures/chitietsanpham/img-1.jpg"
                                     class="d-block w-100 img-fluid"
                                     alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="~/home/Pictures/chitietsanpham/img-2.jpg"
                                     class="d-block w-100 img-fluid"
                                     alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="~/home/Pictures/chitietsanpham/img-3.jpg"
                                     class="d-block w-100 img-fluid"
                                     alt="..." />
                            </div>
                        }




                    </div>
                </div>
            </div>

            <div class="col-2"></div>

            <div class="col-4">
                <h1>@Model.Name</h1>
                <div class="ratings col-9 starColor mt-3">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star"></i>
                    <i class="text-dark">(17) đánh giá</i>
                </div>
                <div class="d-flex mt-1">
                    <p class="card-text me-3 fs-3 fw-semibold mt-2">
                        @Model.Price<span class="fs-6">VND</span>
                    </p>
                    <select class="weightTea mt-3 ms-5 col-3 text-body-tertiary border border-0">
                        <option selected>100g</option>
                        <option value="1">200g</option>
                        <option value="2">300g</option>
                        <option value="3">400g</option>
                    </select>
                </div>
                <p class="text-uppercase fs-6 fw-semibold">
                    @Model.Notes
                </p>

                <p class="col-12 fs-6">
                    @Model.Description
                </p>
            </div>
        </div>

        <div class="container instructions d-flex justify-content-center">
            <div class="col-3 align-self-center">
                <h2>Hướng đẫn Pha Trà Shan Tuyết</h2>
                <p>đổ vào ấm từ 150-200ml, nước sôi nhiệt độ 85°C</p>
                <p>1 - 2 nắm trà, khoảng 20 - 30gram</p>
                <p>Để trà: 4 - 6 phút</p>
            </div>
            <div class="col-6 align-self-center">
                <img src="~/home/Pictures/chitietsanpham/phatra.jpg" alt="" />
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center fw-bold">
            <h1>SẢN PHẨM LIÊN QUAN</h1>
        </div>
        <div class="col-11 mt-5 text-center">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner ms-5">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            @foreach (var item in ViewBag.prodct)
                            {
                                if (item.Id <= 4)
                                {
                                    <div class="col-2 me-5">
                                        <div class="card border-0 h-100">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="ratings col-9 text starColor">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="text-dark sli">(17)</i>
                                                </div>
                                                <h5 class="newsColor mt-1 me-1 fs-6 py-1 col-3 text-center">
                                                    New
                                                </h5>
                                            </div>
                                            <img src="@ViewBag.Domain@item.Images"
                                                 class="card-img-top"
                                                 alt="product1" />
                                            <div class="card-body text-center">
                                                <h5 class="card-title">
                                                    <a class="text-dark" asp-controller="Product" asp-action="product" asp-route-id="@item.Id">
                                                        @item.Name
                                                    </a>
                                                </h5>
                                                <div class="d-flex justify-content-center">
                                                    <p class="card-text me-3 fs-6 fw-semibold mt-2">
                                                        @item.Price<span class="fs-6">VND</span>
                                                    </p>
                                                    <select class="weightTea mt-2 col-4 text-body-tertiary border border-0">
                                                        <option selected>100g</option>
                                                        <option value="1">200g</option>
                                                        <option value="2">300g</option>
                                                        <option value="3">400g</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    break;
                                }

                            }
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            @foreach (var item in ViewBag.prodct)
                            {
                                if (item.Id > 4 && item.Id <= 8)
                                {
                                    <div class="col-2 me-5">
                                        <div class="card border-0 h-100">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="ratings col-9 text starColor">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="text-dark sli">(17)</i>
                                                </div>
                                                <h5 class="newsColor mt-1 me-1 fs-6 py-1 col-3 text-center">
                                                    New
                                                </h5>
                                            </div>
                                            <img src="@ViewBag.Domain@item.Images"
                                                 class="card-img-top"
                                                 alt="product1" />
                                            <div class="card-body text-center">
                                                <h5 class="card-title">
                                                    <a class="text-dark" asp-controller="Product" asp-action="product" asp-route-id="@item.Id">
                                                        @item.Name
                                                    </a>
                                                </h5>
                                                <div class="d-flex justify-content-center">
                                                    <p class="card-text me-3 fs-6 fw-semibold mt-2">
                                                        @item.Price<span class="fs-6">VND</span>
                                                    </p>
                                                    <select class="weightTea mt-2 col-4 text-body-tertiary border border-0">
                                                        <option selected>100g</option>
                                                        <option value="1">200g</option>
                                                        <option value="2">300g</option>
                                                        <option value="3">400g</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (item.Id > 8)
                                {
                                    break;
                                }

                            }

                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            @foreach (var item in ViewBag.prodct)
                            {
                                if (item.Id > 8 && item.Id <= 12)
                                {
                                    <div class="col-2 me-5">
                                        <div class="card border-0 h-100">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="ratings col-9 text starColor">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star rating-color"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="text-dark sli">(17)</i>
                                                </div>
                                                <h5 class="newsColor mt-1 me-1 fs-6 py-1 col-3 text-center">
                                                    New
                                                </h5>
                                            </div>
                                            <img src="@ViewBag.Domain@item.Images"
                                                 class="card-img-top"
                                                 alt="product1" />
                                            <div class="card-body text-center">
                                                <h5 class="card-title">
                                                    <a class="text-dark" asp-controller="Product" asp-action="product" asp-route-id="@item.Id">
                                                        @item.Name
                                                    </a>
                                                </h5>
                                                <div class="d-flex justify-content-center">
                                                    <p class="card-text me-3 fs-6 fw-semibold mt-2">
                                                        @item.Price<span class="fs-6">VND</span>
                                                    </p>
                                                    <select class="weightTea mt-2 col-4 text-body-tertiary border border-0">
                                                        <option selected>100g</option>
                                                        <option value="1">200g</option>
                                                        <option value="2">300g</option>
                                                        <option value="3">400g</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev ms-5"
                        type="button"
                        data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                    <img aria-hidden="true"
                         src="~/home/Pictures/trang-chu/backButton.png" />
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next ms-5"
                        type="button"
                        data-bs-target="#carouselExample"
                        data-bs-slide="next">
                    <img src="~/home/Pictures/trang-chu/nextButton.png" />
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

